


.navigation {position: fixed;width: 80px;left: 0;bottom: 0;overflow: hidden;transition: 0.5s;top: 0;height: 100%;
  background-color: #13131d;box-shadow: 0 3px 3px rgb(0 0 0 / 4%), 0 3px 3px rgb(255 255 255 / 17%);}
  .navigation.active {width: 300px;border-radius: 5px;}
  .toggle {position: absolute;bottom: 15px;right: 15px;width: 50px;height: 50px;background: var(--orange);
  border-radius: 50%;box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);cursor: pointer;display: flex;
  justify-content: center;align-items: center;}
  .toggle:hover {
  
  /*background: #9d2cff;*/
  transition: all 0.3s ease;}
  .toggle::before,
  .toggle::after {content: "";position: absolute;width: 26px;height: 3px;border-radius: 3px;
  background: #f7f7f7;
  transition: 1s;}
  .toggle::before {transform: translateY(-5px);}
  .toggle::after {transform: translateY(5px);}
  .navigation.active .toggle::before {transform: translateY(0px) rotate(-405deg);}
  .navigation.active .toggle::after {transform: translateY(0px) rotate(225deg);}
  .navigation ul {position: absolute;top: 0;left: 0;width: 100%;padding-left: 0;}
  .navigation ul li {position: relative;list-style: none;width: 100%;border-top-left-radius: 30px;border-bottom-left-radius: 30px;}
  .navigation ul li:hover {color: #222;}
  .navigation{display: grid;align-items: center;height: 100%;}
  .navigation ul li:nth-child(1) {top: 20px;margin-bottom: 40px;background: none;}
  .navigation ul li .active .fa{color: #fff;}
  .navigation ul li .active .title{color: #fff;}
  .navigation ul li:not(:first-child):hover::before,
  .navigation ul li:not(:first-child):hover::after {content: "";position: absolute;right: 0;width: 20px;
  height: 20px;background: transparent;}
  .navigation ul li a {position: relative;width: 100%;display: flex;text-decoration: none;color: #717177;
  font-weight: 400;}
  .navigation ul li:hover:not(:first-child) a {color: #f1f1f1;}
  .navigation ul li a .icon {position: relative;display: block;min-width: 80px;height: 65px;
  line-height: 70px;text-align: center;}
  .navigation ul li a .icon i {font-size: 20px;}
  .navigation ul li a .icon img{width: 35px;}
  .navigation ul li a .title img{width: 135px;margin-top: 12px;}
  .navigation ul li a .title {position: relative;display: block;padding: 0 0px;height: 65px;
  line-height: 70px;letter-spacing: 0.5px;text-align: start;white-space: nowrap;}
  @keyframes outline {
  0% {outline-width: 1px;}
  50% {outline-width: 5px;}
  80% {outline-width: 2px;}
  100% {outline-width: 1px;}}
